html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.steps_wrapper {
  width: 400px;
  margin: 50px auto;
}

.steps_wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 0 0 50px;
}

.steps_wrapper h1 {
  text-align: center;
}

.step {
  font-size: 1.1rem;
}

.step input {
  margin: 5px 0 15px 0;
  padding: 7px;
  border: 1px solid #e1e1e2;
  border-radius: 8px;
  outline: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.navigation button {
  padding: 12px 15px;
  border: 1px solid #e1e1e2;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.navigation button:hover {
  border: 1px solid lightseagreen;
}

.navigation button:disabled:hover {
  border: 1px solid #e1e1e2;
}

.navigation button.active-button {
  background: lightgreen;
}

.navigation button.visited-button {
  background: lightgrey;
}
