name: build
on:
  pull_request:
    paths:
      - "!*.MD"
  push:
    branches:
      - master
jobs:
  coverage:
    name: Test and publish test coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "12"
      - run: npm install
      - uses: paambaati/codeclimate-action@v2.4.0
        env:
          CC_TEST_REPORTER_ID: f899ad7dc1ec1b66478740033ff9b529d8359754424f3e433f4f6f0ddd296dbc
        with:
          coverageCommand: npm run coverage
          coverageLocations: "./coverage/clover.xml:clover"
          debug: true
      - run: npm test
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
